@font-face {
  font-family: 'CustomY78';
  src:  url('~@/assets/fonts/CustomY78.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Sectra Fine';
  src: url('~@/assets/fonts/GT-Sectra-Fine-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Sectra Fine';
  src: url('~@/assets/fonts/GT-Sectra-Fine-Book-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}