@import "font.css";
body {
	margin:  0;
	/*background-image: -moz-linear-gradient( 136deg, rgb(254,225,64) 0%, rgb(250,112,154) 100%);*/
	background: black;
	/*background-image: -ms-linear-gradient( 136deg, rgb(254,225,64) 0%, rgb(250,112,154) 100%);*/
}

.page-content {
	width: 100%;
	margin:  0 auto;
	display: flex;
	align-items: center;
}
.page-content h1{
	color:red;
	font-size: 2em;
	letter-spacing: .2em;
	margin-bottom:6%;
	font-family: 'CustomY78', sans-serif;
}
.form-v7-content  {
	width: 400px;
	margin: 170px auto;
	font-family: 'CustomY78', sans-serif;
	position: relative;
	display: flex;
	display: -webkit-flex;
	border:1px solid #b30000;
}
.form-v7-content:hover  {
	border:1px solid red;
}
.form-v7-content .form-detail {
    padding: 40px 40px 20px;
	position: relative;
	width: 80%;
	background: black;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}
.form-v7-content .form-detail .form-row {
    width: 100%;
    position: relative;
}
.form-v7-content .form-detail .form-row label {


	color: #fff;
	font-weight: 600;
	font-size: 1em;
	letter-spacing: .3em;
	margin-bottom: .5rem;
	font-family: 'CustomY78', sans-serif;
}
.form-v7-content .form-detail .form-row label#valid {
    position: absolute;
    right: 20px;
    top: 35%;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #53c83c;
}
.form-v7-content .form-detail .form-row label#valid::after {
	content: "";
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
	letter-spacing: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.form-v7-content .form-detail .form-row label.error {

	padding-left: 0;
	margin-left: 0;
    display: block;
    bottom: 5px;
    width: 100%;
    background: none;
    color: red;
    font-family: 'CustomY78', sans-serif;
    font-weight: 700;
	letter-spacing: 0;
}
.form-v7-content .form-detail .form-row label.error::after {
    content: "\f343";
    font-family: 'CustomY78';
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    right: 10px;
    top: -25px;
    color: red;
    font-size: 18px;
	letter-spacing: 0;
    font-weight: 900;
}
.form-v7-content .form-detail .input-text {
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-v7-content .form-detail input {
	width: 100%;
    padding: 5px 15px 10px 15px;
    border: 2px solid transparent;
    border-bottom: 2px solid #e5e5e5;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    box-sizing: border-box;
    -o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.form-v7-content .form-detail .form-row input:focus {
	border-bottom: 2px solid #2bb33e;
}
.form-v7-content .form-detail .register {
	background: black;
	border-radius: 4px;
	border-color: rgb(114, 0, 0);
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 100%;
	margin: -13px 0 50px 0px;
	cursor: pointer;
	font-family: 'CustomY78', sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	float: left;
	letter-spacing: .2em;
}
.form-v7-content .form-detail .register:hover {
	border-color: red;
	letter-spacing: .4em;
}
.form-v7-content .form-detail .form-row-last {
    margin-top: 35px;
}
.form-v7-content .form-detail .form-row-last input {
	padding: 15px;
}
.form-v7-content .form-detail .form-row-last p {
	font-weight: 600;
	font-size: 14px;
	color: #666;
	margin-left: 200px;
}
.form-v7-content .form-detail .form-row-last a {
	font-size: 16px;
	color: #373be3;
	padding-left: 15px;
}

/* Responsive */
@media screen and (max-width: 991px) {
	.form-v7-content {
		margin: 180px 20px;
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v7-content .form-left {
		width: 100%;
		margin-bottom: -5px;
	}
	.form-v7-content .form-detail {

		left: 45%;
		width: 25%;
		padding: 50px;
	    width: auto;
	}
	.form-v7-content .form-detail .register {
		margin-bottom: 80px;
	}
}
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 575px) {
	.form-v7-content .form-detail {
		padding: 30px 20px;
	    width: auto;
	}
	.form-v7-content .form-detail .register {
		float: none;
		margin-bottom: 10px;
	}
	.form-v7-content .form-detail .form-row-last p {
	    margin-left: 0px;
	    margin-bottom: 50px;
	}
}
