<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="Money Laundering, Tax Evasion, Corruption, Politics, Injustices, Greed">
    <link rel="stylesheet" href="css/main.css">
    <script src = "js/index.vue.js"></script>
    <title>Unmask</title>
  </head>
  <body>
    <div class="container justify-content align-content">
        <h1 :style="hoverStyle" @mouseover="mouseover" @mouseleave="mouseleave">Unmask</h1>
    </div>
    <player-card></player-card>
    <!-- include Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- include Vue router -->
    <script src="https://unpkg.com/vue-router@2.0.0"></script>
    <!-- include babel js to write ES6 code -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <!-- include axios for REST API consumption -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/babel">
        Vue.component('player-card', Content);
        var app = new Vue({
            el: '#contents',
            data: {
                players: [
                    {id: "1", name: "Lionel Messi", description: "Argentina's superstar"},
                    {id: "2", name: "Christiano Ronaldo", description: "Portugal top-ranked player"}
                ]
            }
        });
    
    </script>
  </body>
</html>