<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://java.sun.com/xml/ns/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3.0xsd"
         version="3.0">
  <display-name>Spring MVC Application</display-name>
  <servlet>
    <servlet-name>UnmaskServlet</servlet-name>
    <servlet-class>
      org.springframework.web.servlet.DispatcherServlet
    </servlet-class>

    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UnmaskServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>



<!--        &lt;!&ndash;  The definition of the Root Spring Container shared by all Servlets and Filters  &ndash;&gt;-->
<!--    <context-param>-->
<!--      <param-name>contextConfigLocation</param-name>-->
<!--      <param-value>/WEB-INF/spring/root-context.xml</param-value>-->
<!--    </context-param>-->
<!--            &lt;!&ndash;  Creates the Spring Container shared by all Servlets and Filters  &ndash;&gt;-->
<!--    <listener>-->
<!--    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
<!--    </listener>-->
<!--            &lt;!&ndash;  Processes application requests  &ndash;&gt;-->
<!--    <init-param>-->
<!--      <param-name>contextConfigLocation</param-name>-->
<!--      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>-->
<!--    </init-param>-->
<!-- -->